.actionChose, .actionCreate, .systemSetting, .activityChose, .activityAction{
    width: 100%;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 200px;
}

.activityChose {

}
.activityIcon{
    width: 100%;
}
.activityAction{
    line-height:50px;
    background-color: #D90000;
}

.activityAction {
    color: #FFDA44;
}

.whitebackground{
    background-color: white;
    padding: 40px;
    margin-top: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.actionChose{
    background-color:#FFC000 ;
}

.actionCreate{
    background-color: #77F1FE;
}

.systemSetting, .activityChose{
    background-color: #FE0058;
}

.header {
    display: inline-block;
    width: 100%;
    background-color:white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.active{
    border:solid 5px black;
}

.activeAct{
    border:solid 10px #FFDA44;
    background-color: #FE0058;
}

.body {
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
}

.backicon,.homeicon{
    width: 40px;
    margin: 10px;
}

.main {

    background-color: lightgray;
}